<meta charset="utf-8" />
<title>TFSThiago1112 - {{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--Stylesheet Declaration-->
<link rel="stylesheet" href="/TFSThiago1112.wAssets/Stylesheets/tfsthiago1112-site.css" media="screen" />
<link rel="stylesheet" href="/TFSThiago1112.wAssets/Stylesheets/font-awesome.css" />
<link rel="stylesheet" href="/TFSThiago1112.wAssets/Stylesheets/tfsthiago1112-prt.css" />
<!--Icon Declaration-->
<link rel="icon" type="image/png" href="/TFSThiago1112.wAssets/Images/Favicon/favicon-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="/TFSThiago1112.wAssets/Images/Favicon/favicon-160x160.png" sizes="160x160" />
<link rel="icon" type="image/png" href="/TFSThiago1112.wAssets/Images/Favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/TFSThiago1112.wAssets/Images/Favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/TFSThiago1112.wAssets/Images/Favicon/favicon-32x32.png" sizes="32x32" />
<!--IE HTML5 Loader-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="/TFSThiago1112.wAssets/script/html5shiv.js"></script>
	<script src="/TFSThiago1112.wAssets/script/respond.min.js"></script>
<![endif]-->