<!--Compatibilidade e Codificação-->
<meta charset='utf-8' />
<meta http-equiv='pragma' content='no-cache' />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<!--Compatibilidade e Codificação-->
<!--Stylesheet-->
<link rel='stylesheet' href='/assets/css/open-sans.css' />
<link rel='stylesheet' href='/assets/css/bootstrap.min.css' media='screen' />
<link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
<link rel='stylesheet' href='/assets/css/TFSThiago1112.Main.css' />
<!--Stylesheet-->
<!--Favicon-->
<link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_192px.png' sizes='192x192' />
<link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_160px.png' sizes='160x160' />
<link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_96px.png' sizes='96x96' />
<link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_16px.png' sizes='16x16' />
<link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_32px.png' sizes='32x32' />
<!--Favicon-->