<nav class="navbar navbar-default topbar" role="navigation">
	<div class="navbar-header topbar">
		<a class="itopbar navbar-brand" href="#"><img src="/TFSThiago1112.wAssets/Images/Logo.svg" width="38px" />TFSThiago1112</a>
	</div>
</nav>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnavbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">TFSThiago1112</a>
		</div>
		<div class="collapse navbar-collapse" id="mainnavbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</span></a></li>
				<li><a href="#">Licences</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Softwares <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/softwares/tecnocraft/index.html">Tecnocraft</a></li>
						<li><a href="#">TCLib</a></li>
						<li><a href="#">eMoney</a></li>
						<li><a href="#">eIDE</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/tfsthiago1112"><i class="fa fa-github"></i> GitHub</a></li>
				<li><a href="https://gitlab.com/u/TFSThiago1112"><i class="fa fa-git-square"></i> GitLab(Default)</a></li>
			</ul>
		</div>
	</div>
</nav>