body {
    font-family: "Open Sans";
    font-size: 12px;
}
.bodyTable {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.headTable {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.headimg {
    padding-left: 12px;
    padding-right: 12px;
}
.headCabecalho {
    text-align:center; 
    vertical-align:middle;
}
.formulario {
    width: 100%;
}
.form-sessao, .form-sessao > th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 100%
}
.sessao-form {
    width: 100%;
}
.formulario > tbody > tr > td {
    border: 1px solid black;
    border-collapse: collapse;
}