<!DOCTYPE html>
<html>
    <head>
        <title>TFSThiago1112 - Blog</title>
        <!--Compatibilidade e Codificação-->
        <meta charset='utf-8' />
        <meta http-equiv='pragma' content='no-cache' />
        <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <!--Compatibilidade e Codificação-->
        <!--Stylesheet-->
        <link rel='stylesheet' href='/assets/css/open-sans.css' />
        <link rel='stylesheet' href='/assets/css/bootstrap.min.css' media='screen' />
        <link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
        <link rel='stylesheet' href='/assets/css/TFSThiago1112.Main.css' />
        <!--Stylesheet-->
        <!--Favicon-->
        <link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_192px.png' sizes='192x192' />
        <link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_160px.png' sizes='160x160' />
        <link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_96px.png' sizes='96x96' />
        <link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_16px.png' sizes='16x16' />
        <link rel='icon' type='image/png' href='/assets/img/Logo/Logo_TFSThiago1112_32px.png' sizes='32x32' />
        <!--Favicon-->
    </head>
    <body>
        <!--Headbar-->
        <nav class='navbar navbar-default headbar' role='navigation'>
            <div class='navbar-header headbar-header'>
                <a class='headbar-brand navbar-brand' href='#'>
                    <img src='http://assets.tfsthiago1112.net/img/Logo/Logo_TFSThiago1112.svg' width='38px' />TFSThiago1112
                </a>
            </div>
        </nav>
        <!--Headbar-->
        <!--Navbar-->
        <nav class='navbar navbar-default navbar-static-top' style='margin-bottom: 0px;'>
            <div class='container-fluid'>
                <div class='navbar-header'>
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-site'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='#'>TFSThiago1112</a>
                </div>
                <div class='collapse navbar-collapse' id='navbar-site'>
                    <ul class='nav navbar-nav'>
                        <li class='active'><a href='#'>Home</a></li>
                        <li><a href='#'>About Me</a></li>
                        <li class='dropdown'>
                            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>Projects <span class='caret'></span></a>
                            <ul class='dropdown-menu' role='menu'>
                                <li><a href='#'>ePDV</a></li>
                                <li><a href='#'>eTechno</a></li>
                                <li><a href='#'>Tecnocraft</a></li>
                                <li><a href='#'>eLibrary</a></li>
                                <li><a href='#'>eSite</a></li>
                                <li><a href=''>Comming Soon</a></li>
                            </ul>
                        </li>
                        <li class='dropdown'>
                            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>Docs <span class='caret'></span></a>
                            <ul class='dropdown-menu' role='menu'>
                                <li><a href='#'>ePDV</a></li>
                                <li><a href='#'>eTechno</a></li>
                                <li><a href='#'>Tecnocraft</a></li>
                                <li><a href='#'>eLibrary</a></li>
                                <li><a href='#'>eSite</a></li>
                                <li><a href=''>Comming Soon</a></li>
                            </ul>
                        </li>
                        <li class='dropdown'>
                            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>External Sites<span class='caret'></span></a>
                            <ul class='dropdown-menu' role='menu'>
                                <li><a href='./contas/cadastro.aspx'>Github</a></li>
                                <li><a href='./contas/consultar.aspx'>Gitlab</a></li>
                                <li><a href='./contas/consultar.aspx'>Jenkins</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a><span class='clock'></span></a></li>
                        <li><a href='#'>Fork on Github/Gitlab</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navbar-->
        <!--Corpo-->
        <div class='container' id='main'>
            <div class="page-header">
                <h1>Blog</h1>
            </div>
            <!--Blog Posts-->
                {% for post in paginator.posts %}
                <div class='panel panel-primary'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>{{ post.title }}</h3>
                    </div>
                    <div class='panel-body'>
                        {{ post.content }}
                    </div>
                    <div class='panel-footer'>
                        Created by {{ post.author }} on {{ post.date }}
                    </div>
                </div>
                {% endfor %}
                <ul class="pagination">
                    {% if paginator.previous_page %}
                    <li><a href="{{ paginator.previous_page_path }}">«</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">«</a></li>
                    {% endif %}
                    <li><a>Page: {{ paginator.page }} of {{ paginator.total_pages }}</a></li>
                    {% if paginator.next_page %}
                    <li><a href="#">»</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">»</a></li>
                    {% endif %}
                </ul>
                <!--Blog Posts-->
        </div>
        <!--Corpo-->
        <!--Rodapé-->
        <footer>
            <p class='pull-right'><a href='#'>Back to top</a></p>
            <p>Copyright &copy; TFSThiago1112. All Right Reserved. Page generated on <span class='gentime'></span></p>
        </footer>
        <!--Rodapé-->
        <!--Scripts-->
        <script src='http://assets.tfsthiago1112.net/js/jquery-2.1.4.min.js'></script>
        <script src='http://assets.tfsthiago1112.net/js/bootstrap.min.js'></script>
        <script src='http://assets.tfsthiago1112.net/js/eScript/eScript.DateTime.js'></script>
        <script>$('[data-toggle=popover]').popover();</script>
        <!--Scripts-->
    </body>
</html>